
/*styling for the navigation logo*/
nav.logo-nav {
text-align:center;
/*height:50px;*/
background-color: white;
height: 90px;

	#app-logo a {
	font-family: Nixie one;
	text-align: center;
	font-size: 35px;
	color: #00C19F;
	padding-top: 18px;
	}

}

ul.title-area {
	width: 100%;
}

/*styling for the navigation*/
nav.nav-links {
	height: 55px;
}
ul.left-nav {
	padding-left: 50px;
	margin-top:6px;
	li a {
		font-family: maven pro;

	}
}

ul.right-nav {
	padding-right: 50px;
	margin-top:6px;
}

.search-button { /*styling for the search button*/
	background-color: silver;
	color: black;
}

/*styling for the index display*/

.content-section-header {
	font-family: playball;
}

.content-section-text {
	font-family: Maven pro;
}

.index-content {
	margin-top: 50px;
	margin-bottom: 100px;
}

.index-header {
	border: 3px solid black;
	margin-bottom: 15px;

	h3 {
		font-family: maven pro;
	}
}

/*styling for new product form*/

.product-form-content {
	margin-top: 50px;	
	margin-bottom: 100px;
}

/*styling for show page*/

.show-page-content {
	margin-top: 100px;
}

.show-page-header {
	margin-bottom: 50px;
}