
/*styling for the navigation logo*/
nav.logo-nav {
text-align:center;
/*height:50px;*/
background-color: white;
height: 90px;

	#app-logo a {
	font-family: Nixie one;
	text-align: center;
	font-size: 35px;
	color: #00C19F;
	padding-top: 18px;
	}

}

ul.title-area {
	width: 100%;
}

/*styling for the navigation*/
nav.nav-links {
	height: 55px;
}
ul.left-nav {
	padding-left: 50px;
	margin-top:6px;
	li a {
		font-family: maven pro;

	}
}

ul.right-nav {
	padding-right: 50px;
	margin-top:6px;
}

.search-button { /*styling for the search button*/
	background-color: silver;
	color: black;
}

/*styling for the index display*/

.orbit-caption {
	font-family: maven pro;
}

#products {
	margin-top: 50px;
}

.each-product:last-child {
	
	/*float: none !important;*/
}
.blur-img {
	height: 200px;
	background-color: red;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.index-image img {
	height: 100%;
	width: 100%;

}

figure {
	border: 5px solid silver;
	width: 100%;
	margin-left: 0

}

figcaption {
	padding-top: 20px;
	padding-left: 9px;
	padding-bottom: 5px;
	background-color: silver;

	a {
		color: black;
		font-family: maven pro;
	}

	.price {
		font-family: maven pro;
	}

	.subheader {
		font-family: maven pro;
	}
}

.content-section-header {
	font-family: playball;
}

.content-section-text {
	font-family: Maven pro;
}

.index-content {
	margin-top: 50px;
	margin-bottom: 100px;
}


.index-header {
	border: 3px solid black;
	margin-bottom: 15px;

	h3 {
		font-family: maven pro;
	}
}

/*styling for new product form*/

.product-form-content {
	margin-top: 50px;	
	margin-bottom: 100px;
}

/*styling for show page*/

.show-page-content {
	margin-top: 100px;
}

.show-page-header {
	margin-bottom: 50px;
}


.product-header {
	font-family: playball;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
}

.product-info {
	border-bottom: 2px solid black;
	padding-bottom: 200px;
	font-family: maven pro;
	padding-left: 40px;
}

.product-links {
	padding-left: 40px;

}

.product-img-container {
	margin-bottom: 100px;

}


/*styling for the reviews on the show page*/

.review-header {
	margin-top: 35px;
	margin-bottom: 50px;
	padding-bottom: 35px;
	font-family: maven pro;
	border-bottom: 2px solid black;
}

#review-list {
	border-bottom: 2px solid black;
}

.new-review-form {
	padding-bottom: 150px;
	padding-top: 50px;
}

.new-review-form textarea {
	size:100px;
	height:100px;
}



.comment {
	margin-top: 20px;
}

.review {
	margin-left: 70px;
}

.comment-label {
	display: none;
}











