.session-form-container {
		margin-top: 100px;
}

.form-button {
	margin-top: 20px;
	background-color: silver;
	color: #242010;
	font-family: maven pro;
}

.form-button:hover{
	background-color: #FFE772;
	font-size: 15px;
	color: #242010;
}

.session-header {
	padding-bottom: 20px;

	h1 {
		font-family: maven pro;
	}

}

