.new-user-form {
	padding-bottom: 100px;
}

.user-head-container {
	padding-top: 100px;
}

.user-head {
	font-family: maven pro;
	padding-bottom: 30px;

}

.user-images-panel {
	padding-bottom: 100px;
	margin-bottom: 100px;
}