<%= link_to product_path(product.id) do %>
    <%= product.name %>
<% end %>

<div class="price">
	$<%= product.formatted_price %>
</div>

<!-- keeps the description to 100 characters or less -->
<p><%= truncate(product.description, length: 100) %></p>
