
  <% @products.each do |product| %>
    <div class="row ">
  
      <div class="large-5 small-6 columns each-product">
        <figure>
          <div class="blur-img">
            <%= link_to image_tag(product.image), product_path(product.id), :class => 'index-image' %>
          </div>
          
          <figcaption>
            <p class='text-center'><%= link_to product.name, product_path(product.id)  %></p>
            <div class="price">
              $<%= product.formatted_price %>
            </div>
              <span class="subheader"><%= truncate(product.description, length: 40) %></span>
          </figcaption>
        </figure>
      </div>
    </div> 
  <% end %>







