 	<div class="row">
    <div class="large-12 columns">

    	<div id="slider">
     		<ul class="example-orbit" data-orbit>
				  <li>
				    <img src="rainforest-index-home.jpg" alt="slide 1" />
				    <div class="orbit-caption text-center">
				      Find stuff for the home- appliances, decor and alot more.
				    </div>
				  </li>
				  <li class="active">
				    <img src="rainforest-in-wo.jpg" alt="slide 2" />
				    <div class="orbit-caption text-center">
				      Exercise gear and equiptment
				    </div>
				  </li>
				  <li>
				    <img src="rainforest-index-mfash.jpg" alt="slide 3" />
				    <div class="orbit-caption text-center">
				      Mens fashion.
				    </div>
				  </li>
				  <li>
				    <img src="rainforest-index-fash.jpg" alt="slide 4" />
				    <div class="orbit-caption text-center">
				      Women's Fashion.
				    </div>
				  </li>
				</ul>
    	</div>
    
    <hr/>
    </div>
  </div>
  
 
 
  <div class="row">
    <div class="large-4 columns">
      <img src="rainforest-c1.jpg"/>
      <h4 class="content-section-header text-center">Latest trends</h4>
      <p class="content-section-text">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="rainforest-c2.jpg"/>
      <h4 class="content-section-header text-center">Home Accesories</h4>
      <p class="content-section-text">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="rainforest-c5.jpg"/>
      <h4 class="content-section-header text-center">Home Decor</h4>
      <p class="content-section-text">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  
    </div>
   
 
   





<div class="row index-content">
	<div class="small-12 columns">

		<div class="row">
			<div class="small-6 small-centered columns index-header">		
				<h3 class="text-center">All Products</h3>
			</div>
		</div>

			
			<!-- renders a helpful message with numbers of displayed vs. total entries -->
			<div class="row">
				<div class="small-6 small-centered columns">
					<h4 class="text-center"><small><%= page_entries_info @products %></small></h4>
				</div>
			</div>

			<hr/>

			<ul>
		    <div id="products">
		      <%= render @products %>
		    </div>
			</ul>

			<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->
			<%= paginate @products %>
	</div>
</div>
