<h1>All Products</h1>

<%= link_to "Add a product", new_product_path %>

<!-- renders a helpful message with numbers of displayed vs. total entries -->
<h1>Products <small><%= page_entries_info @products %></small></h1>

<hr/>

<ul>
    <div id="products">
      <%= render @products %>
    </div>
</ul>

<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->
<%= paginate @products %>